
form{
  width: 50%;
  height: 100%;
}

mat-form-field{
  margin-top: 15px;
}

.cancel-btn{
  //color: blue;
  background-color: gray;
}

.submit-btn{
  //color: blue;
  background-color: deepskyblue;
}
